@model GuestResponse;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <!-- Форма для гостя -->
    <form asp-action="RsvpForm" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Твоё имя:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Email">Твоя почта:</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Phone">Твой телефон:</label>
            <input asp-for="Phone" />
        </div>
        <div>
            <label>Ты будешь присутствовать?</label>
            <select asp-for="WillAttend">
                <option value="">Выбери вариант</option>
                <option value="true">Да, я буду</option>
                <option value="false">Нет, я не могу прийти</option>
            </select>
        </div>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>

